@import '~styles/config';

.item {
  display: flex;

  padding: $gutter;

  &:nth-child(2n) {
    background: #fafafa;
  }

  &__image {
    padding-right: $gutter;

    height: 200px;
  }

  &__title {
    @include reset-heading;
    @include h4;

    margin-top: $gutter * 0.5;
    margin-right: $gutter;
  }

  &__text {
    @include reset-paragraph;
    @include copy;

    margin-bottom: 0;

    max-width: 70%;
  }
}
