@import '~styles/config';

.intro {
  &__container {
    @include container;
  }

  &__row {
    @include grid-row;
  }

  &__col {
    @include grid-col;

    @media (min-width: $min-tablet) {
      @include grid-col(8);
      @include grid-offset-left(2);
    }

    @media (min-width: $min-desktop) {
      @include grid-col(6);
      @include grid-offset-left(3);
    }
  }

  &__title {
    @include h4;

    margin-top: $gutter * 0.5;
    margin-bottom: 0;

    color: $color-light;
  }
}
