@import '~styles/config';

.hero {
  position: relative;

  min-height: 425px;

  background: #93cfe3;

  @media (min-width: $min-1080) {
    min-height: 600px;
  }

  &__container {
    @include container;

    display: flex;
    align-items: center;
  }

  &__top {
    padding-top: $gutter * 2;

    @media (min-width: $min-tablet) {
      padding-top: percentage($segment-padding * 1.25 / $page-limit);
    }

    @media (min-width: $page-limit) {
      padding-top: $segment-padding;
    }
  }

  &__row {
    @include grid-row;
  }

  &__content {
    @include grid-col;

    color: #fff;

    @media (min-width: $min-tablet) {
      @include grid-col(7);
    }

    @media (min-width: $min-desktop) {
      @include grid-col(5);
    }
  }

  &__title {
    @include heading;

    color: inherit;
  }

  &__text {
    @include copy;

    color: inherit;

    &:last-child { // stylelint-disable-line
      margin-bottom: 0;
    }
  }
}
