@import '~styles/config';

.product {
  width: 100%;
  min-width: 300px;
  max-width: 600px;

  &__title {
    @include responsive-font(16, 20);

    font-family: 'Libre Baskerville', serif;
  }

  &__content {
    @media (min-width: 660px) {
      display: flex;
    }
  }

  &__description {
    margin-bottom: $gutter;

    @media (min-width: 660px) {
      width: 50%;
    }
  }

  &__markdown {
    p:first-child {
      margin-top: 0;
    }
  }

  &__image {
    @media (min-width: 660px) {
      padding-right: $gutter;
      width: 50%;
      order: -1;
    }
  }

  &__img {
    width: 100%;
    max-width: 100%;
  }
}
